[build-system]
requires = ["uv-build"]
build-backend = "uv_build"

[project]
name = "{{ name }}"
version = "0.1.0"
description = "{{ description }}"
readme = "README.md"
requires-python = ">=3.13"

authors = [
{ name = "Dillon Barendt" }
]

license = { text = "MIT" }

dependencies = [
{% for dep in dependencies -%}
    "{{ dep }}"{% if not loop.last %},{% endif %}
{% endfor %}
]

{% if script_name and module_path %}
    [project.scripts]
    "{{ script_name }}" = "{{ module_path }}:main"
{% endif %}
